<h2>Cable Test</h2>

<p>Current region: <%= Region.current %></p>

<br />

<button data-reflex="click->ExampleReflex#local">Test targeted broadcast</button>

<p id="local-number">Random number: </p>

<br />

<button data-reflex="click->ExampleReflex#global">Test global broadcast</button>

<p id="global-number">Random number: </p>
